//- ------------------------------------
//- include local variables
//-
block variables
  -
    const URL = `${protocol}://${domain}${filename.replace(/(\.pug)$/, '.html').replace('src/docroot', '')}`

//- ------------------------------------
//- HTML CONTENTS
//-
doctype html
html(lang="ja")

  //- ------------------------------------
  //- include head element
  //-
  include /head/index

  //- ------------------------------------
  //- begin body
  //-
  body
    block content

    //-================ SCRIPT ================-//
    block scripts
