@import 'variables'
@import 'easing'
@import 'mixin'
@import 'reset'
@import 'base'
.wrapper
  display: flex
  flex-direction: column
  height 100vh
  overflow: hidden

.speech_wrap
  flex 1
  width 90%
  margin 40px auto
  padding 0 40px 0 0
  overflow-y: scroll

  &::-webkit-scrollbar
    width: 5px
  &::-webkit-scrollbar-thumb
    background-color #001522
  &::-webkit-scrollbar-track-piece
    background-color: #f2f2f2
    box-shadow: 1px 0 3px 0 rgba(#333, 0.2) inset

.speech-lists
  margin auto
  border 1px solid #ccc
  border-radius: 5px
  list-style: none
  padding 0
  overflow hidden

.speech-list
  display flex
  align-items center
  border-top 1px solid #eee
  padding 1em

  &:first-child
    border-top none

  &:nth-child(2n)
    background-color #f9f9f9

.speech-list--left_col
  flex 1

.speech-list--right_col
  font-size 2.5rem
  color #55acee

.tweet
  display block
  line-height 0
  color #55acee
  transition transform 300ms $easeOutSine, opacity 300ms linear

  &:visited
  &:active
  &:link
  &:hover
    color #55acee

  &:hover
    transform scale(0.9)
    opacity 0.8


.speech-list--date
  font-size 0.8em
  color #aaa

.action--wrapper
  position: relative
  text-align: center

  // &::before
  //   content ''
  //   display: block
  //   position: absolute
  //   bottom -10px
  //   left 0
  //   width 100%
  //   height 100%
  //   background-color rgba(#3d464c, 0.8)

.btn-microphone
  position: relative
  display: block
  border-radius 50px
  border none
  background: #fff
  font-size 40px
  // line-height: 80px
  margin 10px auto 5px
  padding 0
  width 100px
  height 100px
  cursor: pointer
  color #666
  box-shadow: 0 0 10px 2px rgba(#000, 0.3)
  outline none
  transition all 250ms ease

  &:focus
    outline none

  &:hover
    color #333
    box-shadow: 0 0 7px 1px rgba(#000, 0.5)

  &.is-recognizing
    color #ff0000
    box-shadow: 0 0 2px 0 rgba(#000, 0.5)
    background-color #f9f9f9

    > i
      transform translateY(-0.8rem)
  > i
    display block
    transition transform 250ms ease
    // position absolute
    // top 0
    // right 0
    // bottom 0
    // left 0
    // width 1em
    // height 1em
    // margin auto

.speech-message
  display block
  color #666
  position absolute
  right 0
  bottom 1.2rem
  left 0
  font-size 0.8rem

.list-enter
  opacity 0
  transform scale(0.95)

.list-enter-active
  transition-property transform, opacity
  transition-duration 400ms
  transition-timing-function $easeOutQuart

.list-enter-to-class
  opacity 1
  transform scale(1)

.fade-enter
.fade-leave-to
  opacity 0

.fade-enter-active
.fade-leave-active
  transition opacity 300ms ease
